a.active {
  color: $primary-color;
}

a.primary:hover {
  text-decoration: none;
  border-bottom: 3px solid $primary-color;
  padding-bottom: 6px;
}

a.heading:hover {
  text-decoration: none;
}

a.no-decoration-light:hover {
  text-decoration: none;
  color: $white;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.action-button {
  box-sizing: border-box;
  text-decoration: none;
  background: $black;
  padding: 18px 24px;
  font-size: 0.8rem;
  text-align: center;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.action-button:hover {
  color: $white;
  text-decoration: none;
  z-index: 2;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
}

.action-button:active {
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.social-icon {
  color: #212121;
}

.social-icons li {
  vertical-align: top;
  display: inline;
}

// .social-icons a {
//   color: #212121;
//   text-decoration: none;
// }

@mixin icon-button($height, $width,  $line-height, $font-size) {
  height: $height; 
  width: $width; 
  text-align: center; 
  line-height: $line-height;
  font-size: $font-size;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
}

@mixin icon-button-style($bg-color, $icon-color) {
  background-color: $bg-color;
  color: $icon-color;
}

.icon-button-dark {
  @include icon-button-style(black, white);
  
  &:hover {
    background-color: #212121
  }
}

.icon-button-light {
  @include icon-button-style(white, #212121);

  &:hover {
    color: $primary-color
  }
}

.fa-envelope {
  @include icon-button(44px, 44px, 40px, 1em)
}

.fa-twitter {
  @include icon-button(44px, 44px, 40px, 1.2em)
}

.fa-facebook {
  @include icon-button(44px, 44px, 40px, 1.1em)
}

.share-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 3px 10px 2px 8px;
  
  text-shadow: 1px 1px 1px rgba(0,0,0,.1);
  color: #fff;
  background-color: #333;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.35);
  text-decoration: none;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    color: $white;
  }

  &:active {
    top: 1px;
    box-shadow: 0 0 1px rgba(0,0,0,.25);
  }

  &:visited {
    text-decoration: none;
    color: $white;
  }
}

.share-btn.light {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 3px 10px 2px 8px;
  
  text-shadow: 1px 1px 1px rgba(0,0,0,.1);
  color: $black;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.35);
  text-decoration: none;
  font-size: 15px;

  &:hover {
    text-decoration: none;
    color: $black;
  }

  &:active {
    top: 1px;
    box-shadow: 0 0 1px rgba(0,0,0,.25);
  }
}

.facebook {
  background-color: #4A66B7;
}

.twitter {
  background-color: #1B95E0;
}

.google-plus {
  background-color: #fefefe;
}