a.primary:hover {
  text-decoration: none;
  border-bottom: 3px solid $primary-color;
  padding-bottom: 6px;
}

a.heading:hover {
  text-decoration: none;
}

a.no-decoration-light:hover {
  text-decoration: none;
  color: $white;
}

// .button-link {
//   font-size: 0.9rem;
// }

// .button-link:hover {
//   text-decoration: none;
//   border-bottom: 3px solid $primary-color;
//   padding-bottom: 6px;
// }