.row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @include breakpoint(small){
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.nav-bar {
  .logo {
    height: 24px;
    width: 24px;
  }
  li {
    display: inline-block;
  }
  @include breakpoint (small only){
      margin-top: 3rem;
    }
}

.footer {
  background: #050505;
}

.hero-row {
  h1 {
    font-size: 4em;
    display: inline-block;
    margin-left: -1.4rem;
  }

  @include breakpoint (small only){
    h1 {
      font-size: 2.2em;
      margin-left: -1rem;
    }
  }
}

.horizontal-bar {
  display: inline-block;
  vertical-align: top;
  margin-top: 2.6rem;
  background: rgba(255,255,255,0.30);
  width: 80px;
  height: 3px;

  @include breakpoint (small only){
    margin-top: 1.5rem;
    width: 60px;
  }
}

.menu-heading {
  @include breakpoint (small only){
    margin-top: 3rem;
  }
}

.button-link {
  font-size: 0.9em;
}

.full-width-background-light {
  background: $white;
  margin-left: 1%;
  margin-right: 1%;
}

.portfolio-background {
  background: rgba(238, 238, 238, 1);
  margin-left: 1%;
  margin-right: 1%;
}

.left-collapse {
  padding-left: 0;

  @include breakpoint (small only) {
    padding-right: 0;
  }
}

.right-collapse {
  padding-right: 0;

  @include breakpoint (small only) {
    padding-left: 0;
  }
}

.small-collapse {
  @include breakpoint(small only){
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }
}

.square {
  width: 100%;
  padding-bottom: 100%;
}

.horizontal-rect-8 {
  width: 100%;
  padding-bottom: 50%;
}

.horizontal-rect-12 {
  width: 100%;
  padding-bottom: 35%;
  
  @include breakpoint (small only){
    padding-bottom: 40%;
    padding-left: 0;
    padding-right: 0;
  }
}

.vertical-rect {
  padding-bottom: calc(200% + 0.75rem);
}

.portfolio-project-card {
  position: relative;
  top: -12rem;
  background: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);

  @include breakpoint (small only){
    top: -6rem;
  }
}

.portfolio-project-card:hover {
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.12), 0 8px 8px 0 rgba(0,0,0,0.24);
  transition: box-shadow 0.2s ease;
}

.medium-heading {
  font-size: 0.8em;
  color: rgba(0,0,0,0.54);
}

.sidebar {
  background: #333333;
  background-image: url("/assets/images/ovals-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  //margin-right: 0.25rem;

  @include breakpoint(small only){
    margin-top: 4rem;
    margin-right: 0;
  }
}

.featured-list {
  a {
    display: inline-block;
    color: $white;
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 0.9em;
    line-height: 1.4;
  }
  .disabled {
    pointer-events: none;
    cursor: default;
  }
}

.section-heading-bar-dark {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.2rem;
  background: rgba(255,255,255,0.12);
  height: 12px;
}

.blog-card {
  background: $primary-color;
  width: 100%;
  height: 10rem;
  border-radius: 2px;
  h5 {
    
    height: 5rem;
  }
}

.full-width-background-dark {
  background: #191919;
  margin-left: 1%;
  margin-right: 1%;
}

.garage-post-header {
  height: 2rem;
}

.garage-background {
  background: #191919;
  border-radius: 2px;
}

.garage-card {
  background: $primary-color;
  width: 100%;
  height: 6rem;
  border-radius: 4px;
}

.display-pic {

  @include breakpoint (small only){
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 4rem;
  }
}

.identity-thumbnail {
  background: url("/assets/images/projects/identity/thumbnail.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.identity-hero {
  background: url("/assets/images/projects/identity/hero.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carol-thumbnail {
  background: url("/assets/images/projects/carol/thumbnail.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before {
    content: url("/assets/images/projects/carol/thumbnail-hover.jpg") no-repeat center center;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &:hover {
    background: url("/assets/images/projects/carol/thumbnail-hover.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.carol-hero {
  background: url("/assets/images/projects/carol/hero.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.behance-thumbnail {
  background: url("/assets/images/projects/behance/thumbnail.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before {
    content: url("/assets/images/projects/behance/thumbnail-hover.jpg") no-repeat center center;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &:hover {
    background: url("/assets/images/projects/behance/thumbnail-hover.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.behance-hero {
  background: url("/assets/images/projects/behance/hero.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.xbox-thumbnail {
  background: url("/assets/images/projects/xbox/thumbnail.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before {
    content: url("/assets/images/projects/xbox/thumbnail-hover.jpg") no-repeat center center;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &:hover {
    background: url("/assets/images/projects/xbox/thumbnail-hover.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.xbox-hero {
  background: url("/assets/images/projects/xbox/hero.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uber-thumbnail {
  background: url("/assets/images/projects/uber/thumbnail.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:before {
    content: url("/assets/images/projects/uber/thumbnail-hover.jpg") no-repeat center center;
    height: 0;
    width: 0;
    visibility: hidden;
  }

  &:hover {
    background: url("/assets/images/projects/uber/thumbnail-hover.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.uber-hero {
  background: url("/assets/images/projects/uber/hero.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-table-bar {
  background: $primary-color;
  width: 0.25rem;
}

.blog-list {
  background: #333333;
  border-radius: 2px;
}

.article-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.article-container {
  p {
    line-height: 2;
  }
}

.article-title {
  font-size: 4.5rem;
  margin-left: 0;

  @include breakpoint (medium down){
    font-size: 3rem;
    //margin-left: 0.25rem;
  }
}

.article-background {
  background: $white;
  border-radius: 0.25rem;

  @include breakpoint (medium down){
    margin-left: 1%;
    margin-right: 1%;
  }
}

.full-screen-menu {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $black;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;

  ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .close {
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

.full-screen-menu.show {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

body.disable-scroll {
  overflow: hidden;
}

html.disable-scroll {
  overflow: hidden;
}

.placeholder {
  background: $white;
}

.store-product-container {
  position: relative;
  
  .cta {
    position:absolute;
    right: 1rem;
    left: 1rem;
    margin: auto;
    bottom:1rem;

    &:visited {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.unroll-store-thumbnail {
  background: url("/assets/images/store/unroll.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.behance-store-thumbnail {
  background: url("/assets/images/store/view-for-behance.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carol-store-thumbnail {
  background: url("/assets/images/store/carol.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.snkrhd-store-thumbnail {
  background: url("/assets/images/store/snkrhd.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ambar-store-thumbnail {
  background: url("/assets/images/store/ambar.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.promote-store-thumbnail {
  background: url("/assets/images/store/promote.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.share-box {
  background-color: #efefef;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  text-align: center;

  @include breakpoint(small only){
    margin-top: 1rem;
    margin-right: 0;
  }
}

.promote-background {
  background-image: linear-gradient(23deg, #C43B6D 8%, #DB5788 91%);
  border-radius: 4px;
}

.br3 {
  border-radius: 3px;
}

.br4 {
  border-radius: 4px;
}

.br8 {
  border-radius: 8px;
}