---
layout: default
title: Blog
description: Anagh Sharma's Blog - a place to share design and other life experiences
imageurl: assets/images/sm-previews/pre-home.jpg
permalink: '/blog/'
keywords: blog, writing, design, experience
---

<div class="row mt6 mb6">
    <div class="large-9 middle-6 small-12 columns divider pr3">
            {% for post in site.posts limit:1 %}
                <h6 class="f6 font-medium font-secondary mt4 mb1">LATEST ARTICLE / READ TIME - {{ post.read-time}}</h6>
                <a href="{{ post.url }}" class="heading f2 font-bold lh-title">{{ post.title }}</a>
            {% endfor %}
        <div class="mt5">
          <h6 class="f6 font-medium font-secondary">ALL ARTICLES</h6>
        </div>
        <div class="row">
            {% for post in site.posts %}
            <ul class="no-bullet">
                <li class="blog-list mv3 pt3 pb1 ph3">
                    <a href="{{ post.url }}" class="heading font-bold f4 lh-title">{{ post.title }}</a>
                    <p class="font-secondary f6 mt1">{{ post.date | date_to_long_string }}&emsp;/&emsp;Read Time - {{ post.read-time }}</p>
                </li>
            </ul>
            {% endfor %}
        </div>
      </div>
      <div class="large-3 middle-3 columns">
        
    </div>
</div>