<div class="row">
    <div class="large-8 small-8 columns">
        <ul class="horizontal-list">
            <li>
                <a href="{{ site.behance }}" target="_blank">Behance</a>
            </li>
            <li>
                <a href="{{ site.dribbble }}" target="_blank">Dribbble</a>
            </li>
            <li>
                <a href="{{ site.github }}" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="{{ site.twitter }}" target="_blank">Twitter</a>
            </li>
        </ul>
    </div>
    <div class="large-4 small-4 columns">
        <p>Made with &hearts; in India</p>
    </div>
</div>