{% assign current = page.url | downcase | split: '/' %}

<div class="row nav-bar mt6">
    <div class="large-1 medium-1 small-2 columns">
        <a href="{{ site.url }}" class="heading">
            <img class="logo mt2" src="/assets/logo_light.svg"/>     
        </a>
    </div>
    <div class="large-5 medium-2 small-8 columns">
        <hr class="nav-rule">
    </div>
    <div class="large-6 medium-9 small-2 columns">
        <ul class="no-bullet align-right float-right hide-for-small-only pv2 mb0">
            <li class="ph3"><a href="{{ site.url }}/#projects" {% if current[1] == 'projects' %} class='active font-bold primary'{% endif %} class="font-medium primary">Projects</a></li>
            <li class="ph3"><a href="{{ site.url }}/blog" {% if current[1] == 'blog' %} class='active font-bold primary'{% endif %} class="font-medium primary">Blog</a></li>
            <li class="ph3"><a href="{{ site.url }}/about" class="font-medium primary">Store</a></li>
            <li class="ph3"><a href="{{ site.url }}/about" class="font-medium primary">Design Room</a></li>
            <li class="ph3"><a href="{{ site.url }}/about" class="font-medium primary">Garage</a></li>
            <li class="ph3"><a href="{{ site.url }}/about" {% if current[1] == 'about' %} class='active font-bold primary'{% endif %} class="font-medium primary">About</a></li>
        </ul>
        <a class="show-for-small-only" onclick="togglemenu()">
            <img class="mt1 ml2" src="/assets/menu.svg"/>
        </a>
    </div>
</div>
<div id="overlaymenu" class="full-screen-menu">
    <a class="close" onclick="togglemenu()">
        <img class="logo mt2" src="/assets/close.svg"/>     
    </a>
    <ul class="no-bullet text-center pv2 mb0">
        <li class="mv3"><a href="{{ site.url }}/#projects" {% if current[1] == 'projects' %} class='active font-bold primary f4'{% endif %} class="font-medium primary f4">Projects</a></li>
        <li class="mv3"><a href="{{ site.url }}/blog" {% if current[1] == 'blog' %} class='active font-bold primary f4'{% endif %} class="font-medium primary f4">Blog</a></li>
        <li class="mv3"><a href="{{ site.url }}/about" class="font-medium primary f4">Store</a></li>
        <li class="mv3"><a href="{{ site.url }}/about" class="font-medium primary f4">Design Room</a></li>
        <li class="mv3"><a href="{{ site.url }}/about" class="font-medium primary f4">Garage</a></li>
        <li class="mv3"><a href="{{ site.url }}/about" {% if current[1] == 'about' %} class='active font-bold primary f4'{% endif %} class="font-medium primary f4">About</a></li>
    </ul>
</div>
