<div class="row nav-bar">
    <div class="large-1 medium-1 small-2 columns">
        <img id="logo" src="/assets/logo_light.svg"/>     
    </div>
    <div class="large-5 medium-2 small-8 columns">
        <hr class="nav-rule">
    </div>
    <div class="large-6 medium-9 small-2 columns">
        <ul class="menu expanded align-right">
            <li><a href="{{ site.url }}/about" class="font-medium">About</a></li>
            <li><a href="{{ site.url }}/about" class="font-medium">Garage</a></li>
            <li><a href="{{ site.url }}/about" class="font-medium">Design Room</a></li>
            <li><a href="{{ site.url }}/about" class="font-medium">Store</a></li>
            <li><a href="{{ site.url }}/about" class="font-medium">Blog</a></li>
            <li><a href="{{ site.url }}/about" class="font-medium">Projects</a></li>
        </ul>
    </div>
</div>
