{% assign current = page.url | downcase | split: '/' %}
<div class="row mt6">
    <div class="columns">
      <h6 class="font-medium font-secondary">OTHER PROJECTS</h6>
    </div>
  </div>
<div class="row">
  <div {% if current[2] == 'timeless' %} class='hide'{% endif %} class="large-3 medium-3 columns mt3">
    <a href="{{ site.url }}/projects/timeless">
      <img src="/assets/images/projects/timeless/square-thumbnail.jpg" alt="Timeless Calendar Project"/>
    </a>
  </div>
  <div {% if current[2] == 'view-for-behance' %} class='hide'{% endif %} class="large-3 medium-3 columns mt3">
    <a href="{{ site.url }}/projects/view-for-behance">
      <img src="/assets/images/projects/behance/square-thumbnail.jpg" alt="View for Behance Project"/>
    </a>
  </div>
  <div {% if current[2] == 'xbox' %} class='hide'{% endif %} class="large-3 medium-3 columns mt3">
    <a href="{{ site.url }}/projects/xbox">
      <img src="/assets/images/projects/xbox/thumbnail.jpg" alt="XBOX Project"/>
    </a>
  </div>
  <div {% if current[2] == 'carol' %} class='hide'{% endif %} class="large-3 medium-3 columns mt3">
    <a href="{{ site.url }}/projects/carol">
      <img src="/assets/images/projects/carol/thumbnail.jpg" alt="Carol Project"/>
    </a>
  </div>
  <div {% if current[2] == 'personal-identity' %} class='hide'{% endif %} class="large-3 medium-3 columns mt3">
    <a href="{{ site.url }}/projects/personal-identity">
      <img src="/assets/images/projects/identity/square-thumbnail.jpg"alt="Personal Identity Project"/>
    </a>
  </div>
</div>