---
layout: default
---
<div class="row mt5">
  <div class="large-6 medium-6 small-10 columns mt6 mb5">
    <h1 class="font-medium lh-title article-title">{{ page.title }}</h1>
  </div>
</div>
<section>
    <div class="row article-background mv6 pv6">                        
        <div class="large-7 medium-7 large-offset-1 medium-offset-1 columns">
            <span class="article-container text-justify font-dark">{{ content }}</span>
            <h6 class="font-dark font-bold font-secondary quiet mt5">SHARE THIS ARTICLE</h6>
            <div class="share-box mt3 pv4">
                <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ page.url | prepend: site.url | cgi_escape }}&layout=button_count&size=large&width=84&height=28" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | cgi_escape }}&text={{ page.title }}&via={{ site.twitter | slice: -11, 11 }}" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>  
            {% include disqus.html %}
        </div>
        <div class="large-3 medium-3 columns">
            <div class="sidebar ph3 pv2 mr4">
                <ul class="no-bullet">
                    <li class="mv3">
                        <h6 class="font-medium font-secondary f6 mb0">PUBLISHED ON</h6>
                        <p class="mt1">{{ page.date | date_to_long_string }}</p>
                    </li>
                    <li class="mv3">
                        <h6 class="font-medium font-secondary f6 mb0">READ TIME</h6>
                        <p class="mt1">{{ page.read-time }}</a>
                    </li>
                    <li class="mv3">
                        <h6 class="font-medium font-secondary f6 mb0">AUTHOR</h6>
                        <p class="mt1">{{ page.author }}</a>
                    </li>
                </ul>      
            </div>
            <h6 class="font-dark font-bold font-secondary quiet mt4 hide-for-small-only">SHARE THIS ARTICLE</h6>
            <ul class="no-bullet hide-for-small-only">
                <li class="mt3 mb2">
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ page.url | prepend: site.url | cgi_escape }}&layout=button_count&size=large&width=84&height=28" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </li>
                <li class="mv2">
                    <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.url | cgi_escape }}&text={{ page.title }}&via={{ site.twitter | slice: -11, 11 }}" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
            </ul>  
        </div>
    </div> 
</section>
